<h1>Invoice # <a href="/customers/invoices/items/{{invoice._id}}">{{invoice.number}}</a> - {{invoice.customer.name}}
</h1>

<table class="table" id="example">
    <thead class="thead-light">
        <tr>
            <th>Transaction Date</th>
            <th>Amount</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each invoice.transactions}}
        <tr>
            <td>{{formatDate date 'Do MMMM YYYY'}}</td>
            <td>{{amount}}</td>
            <td>
                <a href="/customers/invoices/payment/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <form action="/customers/invoices/payment/delete/{{_id}}" method="GET" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>

            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br><br>

<div class="fixed-action-btn">
    <button onclick="myFunction()" class="btn-floating btn-large waves-effect waves-light red">
        <i class="fas fa-plus"></i></button>
</div>

<table class="table">
    <tbody>
        <tr>
            <td style="text-align: right;">
                <h4>Invoice Amount</h4>
            </td>
            <td style="text-align: right;">
                <h4>{{invoiceAmount invoice}}</h4>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <h4>Total Paid Amount</h4>
            </td>
            <td style="text-align: right;">
                <h4>{{invoicePaidAmount invoice}}</h4>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <h4>Total Balance Amount</h4>
            </td>
            <td style="text-align: right; color:red">
                <h4>{{invoiceDueAmount invoice}}</h4>
            </td>
        </tr>
    </tbody>
</table>

{{!-- New Payment Form --}}
<div id="myDIV" style="display: none;">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h2 class="text-center mb-3"><i class="fab fa-amazon-pay"></i> New Payment Transaction</h2>
                <br>
                {{> _messages}}
                <form action="/customers/invoices/payments/{{invoice.number}}" method="POST">
                    <div class="form-group">
                        <label for="invoice">Invoice #</label>
                        <input type="text" id="number" name="number" class="form-control" value="{{invoice.number}}"
                            disabled />
                    </div>
                    <div class="form-group">
                        <label for="date">Transaction Date</label>
                        <input type="date" id="date" name="date" class="form-control" value="{{date}}" required />
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" id="amount" name="amount" class="form-control" value="{{amount}}"
                            required />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Proceed</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
            x.focus();
            x.scrollIntoView();
        } else {
            x.style.display = "none";
        }
    }
</script>