<h1>Invoice # <a href="/customers/invoices/detail/{{invoice.number}}">{{invoice.number}}</a> - {{invoice.customer.name}}
</h1>

{{!-- Items Summary --}}
<table class="table" id="example">
    <thead class="thead-light">
        <tr>
            <th>Item</th>
            <th>Category</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each invoice.items}}
        <tr>
            <td>{{name}}</td>
            <td>{{category}}</td>
            <td>{{unitPrice}}</td>
            <td>{{quantity}}</td>
            <td>{{amount}}</td>
            <td>
                <form action="/customers/invoices/items/delete/{{_id}}/" method="GET">
                    <button type="submit" class="btn">
                        <i class="fas fa-trash" style="color: red"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br><br>
{{> _messages}}

<div class="fixed-action-btn">
    <button onclick="myFunction()" class="btn-floating btn-large waves-effect waves-light red">
        <i class="fas fa-plus"></i></button>
</div>

{{!-- Invoice Summary --}}
<table class="table">
    <tbody>
        <tr>
            <td style="text-align: right;">
                <h4>Invoice Amount</h4>
            </td>
            <td style="text-align: right;">
                <h4>{{invoiceAmount invoice}}</h4>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <h4>Total Paid Amount</h4>
            </td>
            <td style="text-align: right;">
                <h4>{{invoicePaidAmount invoice}}</h4>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <h4>Total Balance Amount</h4>
            </td>
            <td style="text-align: right; color:red">
                <h4>{{invoiceDueAmount invoice}}</h4>
            </td>
        </tr>
    </tbody>
</table>

{{!-- New Items in Invoice --}}
<div id="myDIV" style="display: none;">
    <div class="row mt-5">
        <div class="col-md-10 m-auto">
            <div class="card card-body">
                <h2 class="text-center mb-3"><i class="fab fa-amazon-pay"></i> Add items</h2>
                <br>
                {{> _messages}}

                <table class="table" id="example1">
                    <thead class="thead-light">
                        <tr>
                            <th>Item</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Purchase Qty</th>
                            <th>Click to Add</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each items}}
                        <tr>
                            <form action="/customers/invoices/items/add/{{_id}}" method="POST">
                                <td>{{name}}</td>
                                <td>{{category.name}}</td>
                                <th>{{unitPrice}}</th>
                                <td>{{quantity}}</td>
                                <td><input type="number" name="quantity" min="1" max="100"></td>
                                <input type="hidden" name="invNumber" value="{{../invoice._id}}">
                                <td>
                                    <input type="submit" value="Click to Add item" style="color:crimson">
                                    </submit>
                                </td>
                                <input type="hidden" name="unitPrice" value="{{unitPrice}}">
                            </form>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
            x.focus();
            x.scrollIntoView();
        } else {
            x.style.display = "none";
        }
    }
</script>