<h1>{{title}}</h1>

<table class="table" id="example">
    <thead class="thead-light">
        <tr>
            <th>Invoice #</th>
            <th>Type</th>
            <th>Date</th>
            <th>Belongs To</th>
            <th>Amount</th>
            <th>Paid</th>
            <th>Balance</th>
            <th>Items</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each invoices}}
        <tr>
            <td><strong><a href="/customers/invoices/detail/{{number}}">{{number}}</a></strong></td>
            <td>{{customerType}}</td>
            <td>{{formatDate date 'DD-MMM-YYYY'}}</td>
            <td>{{customer.name}}</td>
            <td>{{invoiceAmount this}}</td>
            <td>{{invoicePaidAmount this}}</td>
            <td>{{invoiceDueAmount this}}</td>
            <td>
                <a href="/customers/invoices/items/{{_id}}" class="btn btn-float">
                    <i class="fas fa-list" style="color:navy;"></i>
                </a>
            </td>
            <td>
                <a href="/customers/invoices/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit" style="color:navy;"></i>
                </a>
            </td>
            <td>
                <form action="/customers/invoices/delete/{{_id}}/" method="GET">
                    <button type="submit" class="btn">
                        <i class="fas fa-trash" style="color: red"></i>
                    </button>
                </form>

            </td>
        </tr>

        {{/each}}

    </tbody>
</table>
<br><br>
{{> _messages}}
<br><br>
<div class="fixed-action-btn">
    <a href="/customers/invoices/new" class="btn-floating btn-large waves-effect waves-light red">
        <i class=" fas fa-plus"></i></a>
</div>

<table class="table">
    <tbody>
        <tr>
            <td style="text-align: right;">
                <h4>Total Amount</h4>
            </td>
            <td style="text-align: right;">
                <h3>{{invoicesAmount invoices}}</h3>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <h4>Total Paid Amount</h4>
            </td>
            <td style="text-align: right;">
                <h3>{{invoicesPaidAmount invoices}}</h3>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <h4>Total Balance Amount</h4>
            </td>
            <td style="text-align: right; color:red">
                <h3>{{invoicesDueAmount invoices}}</h3>
            </td>
        </tr>
    </tbody>
</table>